main{
    height: 60%;
    background-color: bisque;
}
.morado{
    height: 25%;
    background-color: #F4F6F7;
}
#s2{
    height: 50%;
    background-color: black;
    display:flex;
    justify-content: space-around;
}
.polaroid {
    height: 100%;
    background-color: white;
    width:fit-content;
}
.imgPolaroid{
    height: 70%;
    margin:15px;
}
h5{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
